<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-loan-heading">Create or edit a Loan</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!loan.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="loan.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_servicer">Servicer</label>
                    <input type="text" class="form-control" name="servicer" id="field_servicer"
                        [(ngModel)]="loan.servicer" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_principal">Principal</label>
                    <input type="number" class="form-control" name="principal" id="field_principal"
                        [(ngModel)]="loan.principal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_interest">Interest</label>
                    <input type="number" class="form-control" name="interest" id="field_interest"
                        [(ngModel)]="loan.interest" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentDueDate">Payment Due Date</label>
                    <div class="input-group">
                        <input id="field_paymentDueDate" type="text" class="form-control" name="paymentDueDate" ngbDatepicker  #paymentDueDateDp="ngbDatepicker" [(ngModel)]="loan.paymentDueDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="paymentDueDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="loan.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === loan.user?.id ? loan.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
