<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userDetails">
            <h2><span>User Details</span> {{userDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{userDetails.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{userDetails.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{userDetails.email}}</span>
                </dd>
                <dt><span>Repayment Method</span></dt>
                <dd>
                    <span>{{userDetails.repaymentMethod}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{userDetails.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-details', userDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
